body {
	text-align: center;
}

.contactMsg {
	text-align: left;
	margin: 3pt;
	padding: 6pt;
	border: 1px solid #9F9F9F;
	border-radius: 4pt;
	display: inline-block;
	width: 40%;
}

#contactForm {
	margin: 0;
}

#contactForm > * {
	margin: 3pt;
}

#contactForm > textarea {
	width: calc(100% - 6pt);
	resize: vertical;
}